<style>
  :root {
    --black: #101010;
    --white: #eeeeee;
    --dark-grey: #222222;
    --grey: #bebebe;
    --bg: var(--black);
    --bg-tint: var(--dark-grey);

    --fg: var(--white);
    --fg-shade: var(--grey);

    --space: 1.62;
    --vspace: calc(var(--space) * 1rem);
    --vspace-0: calc(3 * var(--space) * 1rem);
    --vspace-1: calc(2 * var(--space) * 1rem);
    --vspace-2: calc(1.5 * var(--space) * 1rem);
    --vspace-3: calc(0.5 * var(--space) * 1rem);

    --text-size-xs: clamp(0.6rem, 0.17vw + 0.76rem, 0.7rem);
    --text-size-s: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --text-size-p: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --text-size-heading-xs: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --text-size-heading-s: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --text-size-heading-m: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --text-size-heading-l: clamp(2.44rem, 2.38vw + 1.85rem, 3rem);
    --text-size-heading-xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
      0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
  }

  p {
    line-height: var(--vspace);
  }

  h1 {
    color: var(--deep-shade);
    margin: var(--vspace-1) 0 var(--vspace-1) 0;
    line-height: calc(8 / var(--space) * var(--vspace));
  }

  h2 {
    margin: var(--vspace-2) 0 var(--vspace-3) 0;
    line-height: 1em;
  }

  h3 {
    margin: var(--vspace-1) 0 var(--vspace-3) 0;
    line-height: 1em;
  }

  h4,
  h5,
  h6 {
    margin: var(--vspace-2) 0 var(--vspace-3) 0;
    line-height: var(--vspace);
  }

  .bigtitle,
  h1 {
    font-size: var(--text-size-heading-l);
  }

  .title,
  h2 {
    font-size: var(--text-size-heading-m);
  }

  .subheading1,
  h3 {
    font-size: var(--text-size-heading-s);
  }

  blockquote {
    font-size: 1em;
    font-style: italic;
    line-height: calc(1 * var(--vspace));
    margin: var(--vspace-2) var(--vspace-2);
  }

  .subheading2,
  h4 {
    font-size: var(--text-size-heading-xs);
  }

  .subheading3,
  h5 {
    font-size: var(--text-size-p);
    letter-spacing: 0.15em;
  }

  .subheading4,
  h6 {
    font-size: var(--text-size-s);
  }

  body {
    background: var(--black);
    color: var(--white);
    font-size: 1em;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    tab-size: 20px;
  }

  .readable {
    max-width: 900px;
    width: 100%;
  }

  .readable-center {
    margin-inline: auto;
  }

  .readable-code {
    max-width: 1100px;
    width: 100%;
  }

  .flex {
    display: flex;
    gap: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px;
  }

  .layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [start] 2.5vw [content] 95vw [content] 2.5vw [end];
  }

  .layout-sidebar {
    --side-bar-width: 300px;
    --layout-margin: 2.5vw;
    grid-template-columns:
      [start] var(--layout-margin) [main sidebar] var(--side-bar-width)
      [sidebar gap]
      var(--layout-margin)
      [gap content] auto [content main] var(--layout-margin)
      [end];
    display: grid;
  }

  :is(.layout, .layout-sidebar) > * {
    grid-column: content/content;
  }

  .full {
    width: 100%;
    grid-column: start / end;
  }

  .content {
    width: 100%;
    grid-column: content / content;
  }

  .l-margin {
    width: 100%;
    grid-column: l-margin / l-margin;
  }

  .r-margin {
    width: 100%;
    grid-column: r-margin / r-margin;
  }
  .sidebar {
    width: 100%;
    grid-column: sidebar / sidebar;
  }
  .main {
    width: 100%;
    grid-column: main / main;
  }

  button {
    background: #363636;
    border: none;
    border-radius: 4px;
    color: var(--fg);
    box-shadow: var(--input-shadow);
    line-height: 2.3;
    padding-inline: 10px;
  }

  .shiki {
    border-radius: 4px;
    border: solid 1px var(--bg-tint);
    font-size: var(--text-size-p);
    padding: 20px;
    box-shadow: var(--input-shadow);
    overflow-x: auto;
  }
  .shiki .line {
    line-height: 1.5;
  }
</style>
